@charset "UTF-8";

/* 共通 */
body {
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #2b546a;
  padding-top: 120px;
  margin: 0;
  background-color: #f9fbfe;
}

a {
  text-decoration: none;
  color: #8491a5;
}

ul li {
  list-style: none;
}

.header-logo {
  width: 120px;
  height: 30px;
}

.header-logo2 {
  display: none;
}

.logo {
  width: 160px;
  height: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 21px;
}

.second-main-text {
  width: 90%;
  margin: 20px auto;
  line-height: 32px;
  font-size: 15px;
  color: #8491a5;
}

.width-size {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

/* button */
button {
  border: 0px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
}

.header-button {
  background-color: rgb(48, 200, 214);
  width: 110px;
  height: 40px;
  color: #fff;
}

.button1 {
  background-color: rgb(48, 200, 214);
  width: 250px;
  height: 60px;
  margin-top: 20px;
  color: #fff;
}

.button2 {
  background-color: rgb(240, 244, 249);
  width: 250px;
  height: 60px;
  color: #16325c;
  margin-top: 50px;
}

.opinion-box {
  position: fixed;
  font-size: 14px;
  color: #fff;
  background-color: #ff577b;
  padding: 8px 20px;
  right: 0;
  bottom: 0;
}

a.opinion-box {
  margin: 0 20px 0 0;
}

/* header */
header {
  background-color: #f9fbfe;
  position: fixed;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding: 200px;
  top: 0;
  left: 0;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.header-list {
  display: flex;
  align-items: center;
}

ul.header-list {
  margin: 0;
}

.header-list a {
  color: #2b546a !important;
}

.header-list li {
  padding: 0 15px;
}

.header-list li a,
button.header-button,
select.pull-down {
  font-size: 14px;
}

.pull-down {
  border: 0;
  font-size: 17px;
  color: #2b546a;
  background-color: #f9fbfe;
}

.home-image {
  max-width: 1000px;
  width: 90%;
  margin-top: 70px;
}

.home-image2 {
  width: 70%;
  margin: 30px 0 0 30px;
}

.home-image3 {
  width: 100%;
}

/* main */

/* box1 */
.main-text {
  font-size: 50px;
  margin: auto;
}

.top-text-image {
  display: flex;
}

.introduction {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin: 30px auto;
  align-items: center;
}

.right-space {
  margin-right: 20px;
}

.font-size {
  font-size: 15px;
  margin-left: 10px;
  font-weight: bold;
  color: #8491a5;
}

.font-size strong {
  font-size: 20px;
  color: #2b546a;
}

.home-box1 {
  overflow: hidden;
}

.back-color {
  background-color: #88e7ce;
  margin-bottom: 80px;
  margin-top: 60px;
  padding-top: 60px;
  display: flex;
  justify-content: center;
}

/* サクセスストーリー */
.success-story {
  padding-top: 100px;
  background-color: #2b546a;
  color: #fff;
  padding-bottom: 70px;
  margin: 80px auto;
}

.success-story-box {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.success-story-section {
  width: 28%;
  padding: 40px 15px;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 10px;
}

.success-story-section:hover {
  transform: scale(1.02, 1.02);
  transition: 0.5s;
}

.success-story-section img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.success-story-section p {
  color: #2b546a;
  width: 90%;
  font-weight: bold;
  margin: 40px auto;
}

p.user-name,
p.country {
  margin: 5px auto;
  color: #bac6d3;
}

/* lesson-content */
.lesson-common {
  background-color: #f0f4f9;
  border-radius: 10px;
}

.lesson-box {
  margin-bottom: 80px;
}

.lesson {
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
}

.lesson-content {
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lesson-common p {
  color: #8491a5;
}

.lesson-width {
  width: 100%;
}
.lesson-section {
  margin: 0 auto;
  width: 48%;
  padding: 70px 0;
}

.lesson-section:nth-child(1) {
  margin-left: 0;
}
.lesson-section:nth-child(2) {
  background-color: #f7edad;
  margin-right: 0;
}

.lesson-section h3 {
  margin-top: 0;
  padding-top: 0;
}

.lesson-section p:nth-child(2) {
  width: 60%;
  margin: 0 auto 60px;
}

.lesson-section p:nth-child(3) {
  width: 80%;
  color: #2b546a;
  margin: 20px auto 0;
  font-weight: bold;
}

.lesson-section p:nth-child(4),
.lesson-section p:nth-child(6) {
  width: 80%;
  color: #2b546a;
  margin: 0 auto;
  font-weight: bold;
  font-size: 20px;
}

.lesson-section p span {
  font-size: 50px;
  font-weight: bold;
}

.lesson-link {
  text-align: left;
  margin: 0 auto;
}

.lesson-link a {
  color: #0070d2;
}

/* アプリでも、Progate */

.width-space {
  width: 90%;
  margin: 0 auto;
}
.app-progate {
  max-width: 1000px;
  padding: 60px 60px 0;
  background-color: #90c3f0;
  display: flex;
  justify-content: center;
  margin: 40px auto 0;
  border-radius: 10px;
  color: #fff;
}

.app-progate h4 {
  margin: 0;
}

.app-progate-text {
  width: 40%;
  text-align: left;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-progate-text p {
  font-size: 16px;
  margin-top: 30px;
}

.image-width {
  width: 50%;
  align-items: center;
  display: flex;
}

.download-app {
  margin: 50px 0;
  max-width: 100%;
  height: auto;
}

/* 初心者から、創れる人を生み出す */
.support-title {
  width: 100%;
  background-color: #fff;
}
.support-text {
  margin: 40px auto 0;
  padding: 60px 0;
}

.start-text {
  padding: 100px;
  background-color: #f9fbfe;
}

/* icon */
.sns-icon-space {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  border-bottom: 1px solid #f0f4f9;
  background-color: #fff;
}

.sns-icon-twitter {
  margin-right: 20px;
}

.sns-icon-facebook {
  margin-left: 20px;
}

/* footer */
footer {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}
.footer-flex {
  width: 95%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  margin: 0 auto;
  text-align: left;
  color: #8491a5;
}

.footer-flex ul {
  margin: 0;
  padding: 0;
}

.footer-flex li strong {
  font-size: 15px;
}

.footer-flex li {
  margin: 12px 0;
  font-size: 13px;
}

.footer-box1,
.footer-box4 {
  width: 30%;
}

.footer-box2,
.footer-box3 {
  width: 20%;
}

.footer-box1 p {
  margin-top: 100px;
  width: 90%;
}

.footer-sns-text {
  margin-top: 60px !important;
}

.progate-business-img {
  width: 80%;
  padding: 20px 10px;
  border: 1px solid #f0f4f9;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
}

.progate-business-text {
  width: 80%;
  font-size: 14px;
  padding: 10px;
  background-color: #f9fbfe;
}

.copyright {
  font-size: 13px;
  text-align: left;
  width: 95%;
  margin: 0 auto;
}

@media (max-width: 991px) {
  /* home-top */
  h1 {
    margin-bottom: 0;
  }

  .main-text {
    font-size: 48px;
    margin-bottom: 0;
  }

  .font-size {
    font-size: 12px;
  }

  .introduction {
    margin-top: 10px;
  }

  .font-size strong {
    font-size: 18px;
  }

  .button1 {
    margin-top: 0;
    width: 200px;
    height: 50px;
    font-size: 14px;
  }

  /* サクセスストーリー */
  .success-story-section {
    width: 42%;
  }

  .button2 {
    width: 200px;
    height: 50px;
    font-size: 14px;
  }

  /* アプリでも、Progate */

  .app-progate {
    padding: 50px 30px 0;
  }

  .app-progate h4 {
    font-size: 18px;
  }

  h4.app-top-space {
    margin-top: 40px;
  }
  .app-progate-text p {
    margin: 20px 0 0;
    font-size: 14px;
  }

  .download-app {
    margin: 30px 0;
  }
}

@media (max-width: 767px) {
  /* 共通 */
  h3 {
    font-size: 25px;
    margin: 20px auto 15px;
  }

  .home-image {
    margin-top: 50px;
  }

  .second-main-text {
    font-size: 14px;
    margin: 10px auto;
  }

  /* header */
  .header-list li:nth-child(1) {
    display: none;
  }

  button.header-button {
    font-size: 12px;
  }

  /* home-top */
  .main-text {
    font-size: 32px;
  }

  .font-size {
    font-size: 12px;
    font-weight: bold;
    color: #8491a5;
  }

  .font-size strong {
    font-size: 16px;
  }

  /* サクセスストーリー */
  .success-story {
    padding-top: 60px;
  }

  .success-story-text {
    width: 90%;
    margin: 0 auto 30px;
    font-size: 14px;
  }

  /* あなたに合ったレッスンがきっと見つかる */
  .lesson-common p {
    font-size: 14px;
  }

  .lesson-section p:nth-child(2) {
    width: 60%;
    margin: 0 auto 30px;
    font-size: 14px;
    line-height: 30px;
  }
  .lesson-section {
    margin: 0 auto;
    width: 48%;
    padding: 50px 0 30px;
  }

  .lesson-section p span {
    font-size: 40px;
    font-weight: bold;
  }

  /* アプリでも、Progate */
  .app-progate {
    padding: 35px 15px 0;
  }
  .app-progate h4 {
    font-size: 15px;
  }

  h4.app-top-space {
    margin-top: 20px;
  }
  .app-progate-text p {
    margin: 10px 0 0;
    font-size: 12px;
  }
  /* footer */
  footer {
    padding-bottom: 50px;
  }
  .footer-flex {
    display: block;
    text-align: center;
  }

  .logo {
    width: 130px;
    height: 40px;
  }
  .footer-box1,
  .footer-box2,
  .footer-box3,
  .footer-box4 {
    margin: 0 auto;
    width: 80%;
  }

  .footer-box1 p {
    margin-top: 80px;
    width: 100%;
  }

  .footer-flex li strong {
    font-size: 18px;
    font-weight: 100;
    color: #2b546a;
  }

  .footer-sns-text {
    margin-top: 50px !important;
  }

  footer a {
    color: #6783a0;
    font-size: 12px;
  }

  .progate-business-img,
  .progate-business-text {
    width: 220px;
    margin: 0 auto;
    font-size: 12px;
  }

  .copyright {
    font-size: 10px;
    margin: 50px auto 0;
    text-align: center;
  }
}

@media (max-width: 544px) {
  /* 共通 */

  body {
    padding-top: 80px;
  }

  h3 {
    font-size: 18px;
    margin: 20px auto 10px;
    text-align: left;
    width: 90%;
  }

  .second-main-text {
    font-size: 12px;
    margin: 10px auto;
    width: 90%;
    text-align: left;
    line-height: 25px;
  }

  h2 {
    text-align: left;
    width: 90%;
  }

  .image-scroll {
    overflow: scroll;
    margin-left: 5%;
  }

  .home-image1 {
    width: 95% !important;
  }
  .home-image {
    width: 150%;
    margin-right: 5%;
  }

  .button1 {
    margin-top: 0;
    width: 120px;
    height: 40px;
    font-size: 12px;
  }

  .button2 {
    width: 120px;
    height: 40px;
    font-size: 12px;
  }
  /* header */
  .header-logo {
    display: none;
  }

  .header-logo2 {
    display: block;
    width: 40px;
    height: 30px;
  }

  .header-list li {
    padding: 0 10px;
  }
  .header-list li a,
  button.header-button,
  select.pull-down {
    font-size: 12px;
  }

  .home-header {
    padding: 0 20px;
  }

  /* home-top */
  h1 {
    line-height: 36px;
  }

  .main-text {
    font-size: 24px;
  }

  .introduction {
    font-size: 12px;
    margin-top: 15px;
  }

  .font-size {
    margin: 0;
  }

  .font-size strong {
    font-size: 12px;
  }

  .right-space {
    margin-right: 10px;
  }

  div.top-text-image img {
    width: 15px;
  }

  .back-color {
    display: flex;
    justify-content: end;
    padding: 0;
  }

  /* サクセスストーリー */
  .success-story h3 {
    text-align: center;
  }

  .success-story-section {
    width: 100%;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto 1fr;
    padding: 24px 16px;
    max-width: initial;
    flex-direction: column;
    display: grid;
    text-align: center;
    font-weight: bold;
    height: 100%;
  }
  p.user-name,
  p.country {
    margin: 0;
    text-align: left;
  }
  p.user-name {
    font-size: 14px;
  }

  p.country {
    font-size: 10px;
  }

  .order1 {
    order: 1;
    grid-column: 1/3;
    grid-row: 1;
    text-align: left;
  }
  p.order1 {
    margin: 0 0 30px;
    width: 100%;
    font-size: 14px;
  }
  .order2 {
    order: 2;
  }
  .order3 {
    order: 3;
  }
  .order4 {
    order: 4;
  }

  .success-story-section:nth-child(4),
  .success-story-section:nth-child(5),
  .success-story-section:nth-child(6) {
    display: none;
  }
  .success-story-section img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
  }

  /* あなたに合ったレッスンがきっと見つかる */
  .lesson-common {
    padding-top: 30px;
    flex-direction: column;
    display: flex;
  }
  .text-order {
    order: 1;
    margin: 0 auto;
  }

  .text-order p,
  .text-order h3 {
    text-align: center;
  }

  .image-order {
    order: 2;
  }
  .home-image2 {
    width: 140%;
    margin: 30px auto 0;
  }

  .lesson-width {
    display: block;
  }

  .lesson-section {
    width: 100%;
    padding-top: 40px;
    margin-bottom: 30px;
  }

  .lesson-section h3 {
    text-align: center;
  }

  .lesson-section p {
    font-size: 12px;
  }

  .lesson-section p:nth-child(2) {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .lesson-link {
    text-align: left;
    font-size: 12px;
  }

  .lesson-section p span {
    font-size: 28px;
  }

  .lesson-section p:nth-child(6) {
    font-size: 14px;
  }

  /* アプリでも、Progate */
  .app-title h3,
  .app-title p {
    text-align: center;
  }

  .app-progate {
    display: flex;
    flex-direction: column;
  }

  .app-progate-order1 {
    order: 1;
    width: 90%;
    margin: 0 auto;
  }

  .app-progate-order2 {
    order: 2;
    width: 90%;
    margin: 0 auto;
  }

  .home-image3 {
    margin: 0 auto;
    width: 70%;
  }

  /* 初心者から、創れる人を生み出す */
  .support-title {
    width: 100%;
    background-color: #fff;
  }
  .support-text {
    width: 90%;
    margin: 80px auto 0;
    padding: 80px 0;
  }
  .support-text h3,
  .support-text p {
    margin-left: 0;
  }

  /* さっそく始めよう */
  .start-text h3 {
    text-align: center;
  }
  .start-text .button1 {
    margin-top: 20px;
  }
}
